<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>게시판</title>
	<script defer src="/js/board.js"></script>
</head>

<body>
	<th:block layout:fragment="content">
		<div class="container-fluid mt-4">
			<div class="row">
				<div class="col-lg-9">
					<th:block th:replace="~{ fragments/board/article }" />
					<th:block th:replace="~{ fragments/board/comment }" />
				</div>
				<div class="col-lg-3 d-none d-lg-block">
					<th:block th:replace="~{ fragments/board/sidebar }"/>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>