<!-- board list -->
<div class="list-group mb-2">
	<div class="border-top d-block d-sm-none"></div>
	<div class="list-group-item d-none d-sm-block">
		<div class="row">
			<div class="col">
				<span>번호</span>
				<span>제목</span>
			</div>
			<div class="col-auto">
				<div style="width: 20rem;">
					<div class="row fs-6">
						<div class="col-3">닉네임</div>
						<div class="col-5">작성일</div>
						<div class="col">조회수</div>
						<div class="col">개추</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<li
		th:each="item : ${#numbers.sequence(1, 25)}"
		class="list-group-item list-group-item-action">
		<a href="/sdfsdf" class="stretched-link"></a>
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col-auto d-none d-sm-block">12345</div>
					<div class="col">제목입니다.</div>
				</div>
			</div>
			<div class="col-12 col-sm-auto">
				<div style="width: 20rem;">
					<div class="row">
						<div class="col col-sm-3">김삿갓</div>
						<div class="col-auto col-sm-5">2022-05-05</div>
						<div class="col-auto col-sm">2523</div>
						<div class="col-auto col-sm">33</div>
					</div>
				</div>
			</div>
		</div>
	</li>
</div>

<!-- 버튼 그룹 -->
<div class="d-flex justify-content-between mb-2">
	<div class="btn-group">
		<button type="button" class="btn btn-primary">추천순</button>
		<button type="button" class="btn btn-primary active">최신순</button>
	</div>
	
	<a class="btn btn-primary-emphasis" role="button">글쓰기</a>
</div>

<!-- 페이지네이션 -->
<nav class="d-flex justify-content-center">
	<ul class="pagination m-0">

		<li class="page-item">
			<a href="" class="page-link">
				<span>&laquo;</span>
			</a>
		</li>

		<li class="page-item" th:each="item : ${#numbers.sequence(1,5)}">
			<a href="" class="page-link" th:text="${ item }">

			</a>
		</li>

		<li class="page-item">
			<a href="" class="page-link">
				<span>&raquo;</span>
			</a>
		</li>

	</ul>
</nav>