<div class="d-flex flex-column gap-2">
	<div class="p-2 bg-primary text-white">제목ㅋㅋ</div>
	<div class="d-flex justify-content-between px-2 border-bottom">
		<div>dkjsdf</div>
		<nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">추천 0</li>
				<li class="breadcrumb-item">비추천 0</li>
				<li class="breadcrumb-item">댓글 0</li>
				<li class="breadcrumb-item">조회수 12</li>
				<li class="breadcrumb-item">작성일 2025-09-05</li>
			</ol>
		</nav>
	</div>
	<article class="border p-2" style="height: 30rem;">
		게시물내용~~
	</article>
	<div class="d-flex justify-content-center gap-2">
		<button class="btn btn-primary btn-lg">추천해요! 0</button>
		<button class="btn btn-primary-emphasis btn-lg">아이건쫌; 0</button>
	</div>
	<div class="d-flex justify-content-between">
		<button class="btn btn-primary btn-sm">스크랩</button>
		<div class="btn-group">
			<button class="btn btn-primary px-4 border btn-sm">수정</button>
			<button class="btn btn-primary px-4 border btn-sm">삭제</button>
			<button class="btn btn-primary px-4 border btn-sm">신고</button>
		</div>
	</div>
</div>