<div class="btn-group mb-2">
	<button type="button" class="btn bg-primary-custom text-white">추천순</button>
	<button type="button" class="btn bg-secondary-custom text-white active">최신순</button>
</div>

<div class="row">
	<div class="col-lg-8">

		<ul class="nav nav-tabs overflow-x-auto flex-nowrap border-0" style="scrollbar-width: none;">
			<li class="nav-item">
				<a href="" class="nav-link text-nowrap active">
					전체
				</a>
			</li>
			<!-- <li class="nav-item" th:each="item : ${ {'공지','공략','질문'} }">
				<a href="" class="nav-link" th:text="${ item }"></a>
			</li> -->
			<li class="nav-item" th:each="item : ${#numbers.sequence(1, 30)}">
				<a href="" class="nav-link text-nowrap" th:text="'전체'"></a>
			</li>
		</ul>
	</div>
</div>