<div class="list-group mb-4">
	<a href="" class="list-group-item list-group-item-action">
		<h4 class="my-2 text-truncate">
			뱅붕게시판
		</h4>
	</a>
	<a
		href=""
		class="list-group-item list-group-item-action"
		th:each="item : ${#numbers.sequence(1, 5)}">
		<div class="d-flex justify-content-between">
			<span
				class="text-truncate"
				data-bs-toggle="tooltip"
				data-bs-title="[정보] 밀키스 제로 출시"
				>
				[정보] 밀키스 제로 출시
			</span>
			<span class="badge text-bg-secondary align-content-center text-truncate">
				08-27 05:30
			</span>
		</div>
	</a>
</div>
<div class="list-group mb-2">
	<a href="" class="list-group-item list-group-item-action">
		<h4 class="my-2 text-truncate">
			글로벌인기글
		</h4>
	</a>
	<a
		href=""
		class="list-group-item list-group-item-action text-truncate"
		th:each="item : ${#numbers.sequence(1, 5)}">
		<div class="d-flex justify-content-between">
			<span
				class="text-truncate"
				data-bs-toggle="tooltip"
				data-bs-title="[공지] 안죄송합니다.">
				[공지] 안죄송합니다.
			</span>
			<span class="badge text-bg-secondary align-content-center">
				08-27 05:30
			</span>
		</div>
	</a>
</div>