<footer class="bg-dark bg-gradient text-light mt-5 py-4">
	<div class="container">
		<div class="nav gap-4">
			<a href="" class="nav-item"
				th:each="icon : ${ {'Apache Tomcat','Bootstrap','CSS3','Eclipse IDE','Github','HTML5','IntelliJ IDEA','Java','JavaScript','MySQL','Spring','Visual Studio Code (VS Code)'} }">
				<img th:src="'/img/tech/' + ${ icon } + '.svg'" th:alt="${ icon }" style="width: 3rem;">
			</a>
		</div>
		<hr class="border-secondary">
		<div class="row">
			<div class="col-12 text-center">
			© 2025 JSL Nasakenaiyatsura | Developed : 2025-10-0X | ☎ 042-242-4412
			</div>
		</div>
	</div>
</footer>