<header class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
	<div class="container">
		<a class="navbar-brand d-flex align-items-center" href="/">
			<img src="/img/MinnaBoard-logo-transparent_cut.png" alt="MinnaBoard" height="40" class="me-2">
			<span class="fw-bold text-primary">MinaBoard</span>
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto gap-2">
				<li class="nav-item">
					<th:block th:replace="~{ fragments/header/subscribe }"/>
				</li>
				<li class="nav-item">
					<th:block th:replace="~{ fragments/header/topten }"/>
				</li>
				<li class="nav-item">
					<th:block th:replace="~{ fragments/header/search }"/>
				</li>
			</ul>

			<ul class="navbar-nav gap-2">
				<li class="nav-item">
					<th:block th:replace="~{ fragments/header/notification }"/>
				</li>
				<li class="nav-item">
					<th:block th:replace="~{ fragments/header/login }"/>
				</li>
			</ul>
		</div>
	</div>
</header>