<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원정보</title>
	<link rel="stylesheet" href="/css/users_edit.css">
	<th:block layout:fragment="head">

	</th:block>
</head>

<body>
	<div layout:fragment="content">
		<div class="profile-container">
			<div class="profile-header bg-primary-gradient">
				<img src="/img/uploads/icon/sakiko.png" alt="사용자 아이콘" class="profile-icon">
				<div class="profile-info">
					<h2>사키코사랑개 #1557</h2>
				</div>
				<div class="ms-auto">
					<a href="/user/edit_save" class="btn btn-secondary-emphasis ms-auto">저장</a>
				</div>
			</div>

			<div class="info-section">
				<div class="section-label hstack">자기소개</div>
				<div class="section-content intro-edit">
					<div class="input-group mb-3">
						<input type="text" class="form-control" aria-label="introduce-edit" aria-describedby="introduce-edit"
							placeholder="자기소개를 작성하지 않았습니다." value="안녕하세요. 사키코를 좋아하는 군필여고생 입니다.">
					</div>

				</div>
			</div>

			<div class="info-section">
				<div class="section-label hstack">작성글&nbsp;<span class="section-count">48</span>&nbsp;개<span
						class="ms-auto text-secondary-emphasis">글 제목 클릭 시 삭제됩니다</span></div>
				<div class="section-content">
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">아베무지카</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">사키코 너무 이쁜거 아님?</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">마이고</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">토모리 너무 이쁜거 아님?</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">걸즈 밴드 크라이</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">모모카 성격 진짜 나쁘다</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">봇치 더 락!</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">내가 보기엔 키타가 봇치 기타 니퍼질했음</a>
						</div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
				</div>
			</div>

			<div class="info-section">
				<div class="section-label hstack">작성댓글&nbsp;<span class="section-count">48</span>&nbsp;개<span
						class="ms-auto text-secondary-emphasis">댓글 클릭 시 삭제됩니다</span></div>
				<div class="section-content">
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">마이고</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">토모리 너무 이쁜거 아님?</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">마이고</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">토모리 너무 이쁜거 아님?</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">마이고</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">토모리 너무 이쁜거 아님?</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
				</div>
			</div>

			<div class="info-section">
				<div class="section-label hstack">스크랩목록&nbsp;<span class="section-count">48</span>&nbsp;개<span
						class="ms-auto text-secondary-emphasis">스크랩 클릭 시 삭제됩니다</span></div>
				<div class="section-content">
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">아베무지카</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">사키코 너무 이쁜거 아님?</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">마이고</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">토모리 너무 이쁜거 아님?</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">최대열글자까지가능함</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">모모카 성격 진짜 나쁘다</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">봇치 더 락!</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">내가 보기엔 키타가 봇치 기타 니퍼질했음</a>
						</div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
				</div>
			</div>

			<div class="info-section">
				<div class="section-label hstack">구독게시판목록&nbsp;<span class="section-count">48</span>&nbsp;개</div>
				<div class="section-content p-1">
					<th:block th:each="item : ${#numbers.sequence(1, 4)}">
						<div class="d-flex sub-sortable">
							<div class="p-2 me-auto">
								<button type="button" class="disable btn btn-primary-emphasis position-relative" data-sub-order="item*1">
									아베무지카
								</button>
							</div>
							<div class="p-2 me-4">
								<button type="button" class="btn btn-outline-primary-emphasis sub-up" data-sub-order="item*1">&#8593;</button>
								<button type="button" class="btn btn-outline-primary-emphasis sub-down" data-sub-order="item*1">&#8595;</button>
								<button type="button" class="btn btn-outline-secondary-emphasis sub-remove" data-sub-order="item*1">지우기</button>
							</div>
							<div class="p-2">
								<span class="anchor-day fs-3">2025-15-57</span><span class="anchor-time fs-3"> 88:48:16</span>
							</div>
						</div>
						<div class="d-flex sub-sortable">
							<div class="p-2 me-auto">
								<button type="button" class="disable btn btn-primary-emphasis position-relative" data-sub-order="item*2">
									마이고
								</button>
							</div>
							<div class="p-2 me-4">
								<button type="button" class="btn btn-outline-primary-emphasis sub-up" data-sub-order="item*2">&#8593;</button>
								<button type="button" class="btn btn-outline-primary-emphasis sub-down" data-sub-order="item*2">&#8595;</button>
								<button type="button" class="btn btn-outline-secondary-emphasis sub-remove" data-sub-order="item*2">지우기</button>
							</div>
							<div class="p-2">
								<span class="anchor-day fs-3">2025-15-57</span><span class="anchor-time fs-3"> 88:48:16</span>
							</div>
						</div>
					</th:block>
				</div>
			</div>

			<div class="info-section">
				<div class="section-label hstack">보유 이모티콘&nbsp;<span class="section-count">23</span>&nbsp;개</div>
				<div class="section-content intro">
					<div class="m-2 border-bottom fw-bold">사용중&nbsp;<span class="section-count">9</span>&nbsp;개</div>
					<div class="d-flex flex-wrap">
						<th:block th:each="item : ${#numbers.sequence(1, 9)}">
							<img src="/img/uploads/icon/sakiko.png" class="m-2" alt="이모티콘">
						</th:block>
					</div>
					<div class="m-2 border-bottom fw-bold">보유중&nbsp;<span class="section-count">10</span>&nbsp;개</div>
					<div class="d-flex flex-wrap">
						<th:block th:each="item : ${#numbers.sequence(1, 10)}">
							<img src="/img/uploads/icon/sakiko.png" class="m-2" alt="이모티콘">
						</th:block>
					</div>
					<div class="m-2 border-bottom fw-bold">만료됨&nbsp;<span class="section-count">4</span>&nbsp;개</div>
					<div class="d-flex flex-wrap">
						<th:block th:each="item : ${#numbers.sequence(1, 4)}">
							<img src="/img/uploads/icon/sakiko.png" class="m-2" alt="이모티콘">
						</th:block>
					</div>
				</div>
			</div>

			<div class="info-section">
				<div class="section-label hstack">차단 이용자 목록&nbsp;<span class="section-count">48</span>&nbsp;개</div>
				<div class="section-content outro">
					<div class="d-flex flex-wrap p-1">
						<th:block th:each="item : ${#numbers.sequence(1, 5)}">
							<div class="section-line d-flex align-items-center my-1 px-2 border-start border-end">
								<div class="p-2 flex-grow-1 fw-bold text-dark">냐무치가제일좋아#8848</div>
								<div class="p-2">
									<button class="btn btn-sm btn-outline-secondary fw-bold"><span
											class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span></button>
								</div>
							</div>
							<div class="section-line d-flex align-items-center my-1 px-2 border-start border-end">
								<div class="p-2 flex-grow-1 fw-bold text-dark">ㅇㅇ#1</div>
								<div class="p-2">
									<button class="btn btn-sm btn-outline-secondary fw-bold"><span
											class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span></button>
								</div>
							</div>
							<div class="section-line d-flex align-items-center my-1 px-2 border-start border-end">
								<div class="p-2 flex-grow-1 fw-bold text-dark">아논사랑개#333</div>
								<div class="p-2">
									<button class="btn btn-sm btn-outline-secondary fw-bold"><span
											class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span></button>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
			<div class="ms-auto">
				<a href="/user/edit_save" class="btn btn-secondary-emphasis ms-auto">저장</a>
				<a href="/user/edit_cancel" class="btn btn-secondary-emphasis ms-auto">취소</a>
			</div>
		</div>
	</div>
</body>

</html>
<script src="/js/users_edit.js"></script>