<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원정보</title>
	<link rel="stylesheet" href="/css/users.css">
</head>

<body>
	<div layout:fragment="content">
		<div class="profile-container">
			<div class="profile-header bg-primary-gradient">
				<img src="/img/uploads/icon/sakiko.png" alt="사용자 아이콘" class="profile-icon">
				<div class="profile-info">
					<h2>사키코사랑개 #1557</h2>
				</div>
			</div>

			<div class="info-section">
				<div class="section-label hstack">자기소개</div>
				<div class="section-content intro pb-2">
					안녕하세요. 사키코를 좋아하는 군필여고생 입니다.
				</div>
			</div>

			<div class="info-section">
				<div class="section-label hstack">작성글&nbsp;<span class="section-count">48</span>&nbsp;개</div>
				<div class="section-content">
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">아베무지카</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">사키코 너무 이쁜거 아님?</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">마이고</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">토모리 너무 이쁜거 아님?</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">걸즈 밴드 크라이</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">모모카 성격 진짜 나쁘다</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">봇치 더 락!</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">내가 보기엔 키타가 봇치 기타 니퍼질했음</a>
						</div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
				</div>
			</div>

			<div class="info-section">
				<div class="section-label hstack">작성댓글&nbsp;<span class="section-count">48</span>&nbsp;개</div>
				<div class="section-content">
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">마이고</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">토모리 너무 이쁜거 아님?</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">마이고</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">토모리 너무 이쁜거 아님?</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
					<div class="section-line d-flex">
						<div class="p-2"><span class="badge  bg-primary-emphasis">마이고</span></div>
						<div class="p-2 flex-grow-1"><a class="anchor-primary" href="#">토모리 너무 이쁜거 아님?</a></div>
						<div class="p-2">
							<span class="anchor-day">2025-15-57</span><span class="anchor-time"> 88:48:16</span>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</body>

</html>