<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clean}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<th:block layout:fragment="head">
		<link rel="stylesheet" href="/css/account.css">
		<script defer src="/js/account.js"></script>
	</th:block>
</head>

<body>
	<th:block layout:fragment="content">
		<div class=" bg-gradient-custom">

			<div class="container h-dvh">
				<div class="d-flex h-100 justify-content-center align-items-center">

					<div class="login">

						<div class="card shadow-sm">
							<div class="card-body">
								<h2 class="text-center py-4">비밀번호 찾기</h2>
								<form method="post" th:action="@{findpassword}" class="needs-validation" novalidate onsubmit="sendRepasswordLink(event)">
									<div class="mb-3 inputBox">
										<label for="email" class="form-label">이메일</label>
										<div class="input-group">
											<input type="email" class="form-control" name="email" id="email" placeholder="youremail@example.com" required>
											<button class="btn btn-outline-success">전송</button>
											<div class="invalid-feedback">정확한 이메일을 입력해주세요.</div>
										</div>
									</div>
									<div class="mb-3">
										<span class="messageBox">해당 이메일로<br>비밀번호 초기화 링크를 전송합니다.</span>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>

</html>