<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clean}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<th:block layout:fragment="head">
		<link rel="stylesheet" href="/css/account.css">
		<script defer src="/js/account.js"></script>
	</th:block>
</head>

<body>
	<th:block layout:fragment="content">
		<div class=" bg-gradient-custom">

			<div class="container h-dvh">
				<div class="d-flex h-100 justify-content-center align-items-center">

					<div class="login">

						<div class="card shadow-sm">
							<div class="card-body">
								<h2 class="text-center py-4">비밀번호 초기화</h2>
								<form method="post" th:action="@{repassword}" class="needs-validation" novalidate onsubmit="changePassword(event);">

									<!-- 링크에 붙어있는 이메일, 코드를 이용해 사용자가 정말로 비밀번호 변경을 요청했는지를 감지합니다. -->
									<input type="hidden" name="email" th:value="${ param.email }">
									<input type="hidden" name="code" th:value="${ param.code }">
									
									<div class="passwordBox">
										<div class="mb-3">
											<label for="password" class="form-label">새 비밀번호 입력</label>
											<input type="password" class="form-control" id="password" placeholder="**********" required>
										</div>
										<div class="mb-3">
											<label for="repassword" class="form-label">새 비밀번호 확인</label>
											<input type="password" class="form-control" id="repassword" placeholder="**********" required>
											<div class="invalid-feedback">암호가 일치하지 않습니다.</div>
										</div>
										<button type="submit" class="btn bg-primary-custom w-100">비밀번호 초기화</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>

</html>